.nav-container {
  display: flex;
  justify-content: right;
}

a {
  color: black;
}

#test {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
  background-image: url("/image/pic.jpg");
}

.whole-container {
  display: flex;
}

.sidebar a {
  text-decoration: none;
}

.left-side {
  width: 20vw;
}

.right-side {
  width: 60vw;
}

.box {
  display: flex;
  align-items: center;
}

.img {
  width: 400pxpx;
  height: 400px;
  display: block;
  float: right;
}

#bottom {
  display: flex;
  flex-wrap: wrap;
}
